 {% load static %}
 <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <div class="navbar-brand">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">Menu</h2>
                    </div>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon">
                </i>
                <i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc">
                </i>
                </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
               
               
                <li class=" nav-item">
                    <a href="Capture">
                        <i class="feather icon-plus"></i>
                        <span class="menu-title" data-i18n="Email">Capture Image</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a href="EncodeImg">
                        <i class="feather icon-file-text"></i>
                        <span class="menu-title" data-i18n="Chat">Encode Image</span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a href="RecImg" >
                        <i class="feather icon-edit"></i>
                        <span class="menu-title" data-i18n="Chat">Recognize + Attendence</span>
                    </a>
                </li>    
                <li class=" nav-item">
                    <a href="SMS">
                        <i class="feather icon-message-square"></i>
                        <span class="menu-title" data-i18n="Chat">Send Message</span>
                    </a>
                </li>     
                <li class=" nav-item">
                    <a href="ViewStu" >
                        <i class="feather icon-eye"></i>
                        <span class="menu-title" data-i18n="Chat">View Students</span>
                    </a>
                </li>     
                <li class=" nav-item">
                    <a href="FacultyPage" >
                        <i class="feather icon-plus"></i>
                        <span class="menu-title" data-i18n="Chat">Add Faculty</span>
                    </a>
                </li>     
                <li class=" nav-item">
                    <a href="logout" >
                        <i class="feather icon-log-out"></i>
                        <span class="menu-title" data-i18n="Chat">logout</span>
                    </a>
                </li>     
            </ul>
        </div>
    </div>