<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    {% include 'Header.html' %}
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern dark-layout 2-columns navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="2-columns"
    data-layout="dark-layout"
  >
    <!-- BEGIN: Header-->
    {% include 'topNavBar.html' %}
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    {% include 'leftMenu.html' %}
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section>
            <div class="row match-height">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                     <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="fonticon-wraps">
                            {% comment %} View Students {% endcomment %}
                            <section  id="View_Block">
                              <div class="col-md-6 col-12">
                                <div class="form-label-group form-group">
                                  <fieldset>Class:-</fieldset>
                                  <input
                                    type="text"
                                    id="ViewClass"
                                    class="form-control"
                                    name="ViewClass"
                                    placeholder="Class"
                                    required
                                  />
                                </div>
                              </div>
                              <button
                                type="submit"
                                id="ViewStudents"
                                class="btn btn-info btn-print mb-10 mb-md-10 col-lg-2 col-md-4 col-sm-6"
                                style="margin-bottom: 15px; margin-left: 15px"
                              >
                                View
                              </button>
                              <div class="form-body">
                                <div class="col-12">
                                  <div class="card">
                                    <div class="card-content">
                                      <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                          <table
                                            class="table dataTable"
                                            id="dataTable"
                                          >
                                            <thead>
                                              <tr>
                                                <th>
                                                  <center>
                                                    Enrollment Numbers
                                                  </center>
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody></tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div> 
                      
                     
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Footer-->
    {% include 'Footer.html' %}
    <!-- END: Footer-->
  </body>
  <!-- END: Body-->
</html>
<script>
 $(document).ready(function () {
    var token = '{{csrf_token}}';
    $('#ViewStudents').on('click', function () {
      var class_Name = $('#ViewClass').val();
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: "POST",
        url: "getData",
        dataType: "JSON",
        data: { C_Name: class_Name },
        success: function (Received) {
          if (Received.Status == 'ok') {
            var row = document.getElementById('dataTable');
            $('#dataTable > tbody').empty();
            for (var i = 0; i < Received.Data.length; i++) {
              var string = '<tr><td>' + Received.Data[i] + '</td></tr>';
              row.innerHTML += string;

            }
          }
          else{
            alert("Class not Found");
          }
        }
      });
    });
  });
</script>